<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->
<policyconfig>

  <vendor>platformd</vendor>
  <vendor_url>https://github.com/CoastLineSec/platformd-secretd</vendor_url>

  <action id="io.platformd.secret1.verify-fresh">
    <description>Access a protected secret</description>
    <message>Authentication is required to access a protected secret</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>

</policyconfig>
